/* container для родительского блока */
.container {
  display: flex;
  flex-direction: row; /* горизонтальное расположение */
  height: 800px;
  width: 100%;
}

/* Конкретный блок для канваса */
.canvas-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  border-radius: 10px 0px 0px 10px;
  height: 800px;
}

/* Обертка канваса, чтобы он заполнил родительский блок */
.canvas-wrapper {
  position: relative;
  background: #fff;
  border-radius: 10px;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

/* Канвас сам по себе */
.canvas {
}

/* Блок кнопок справа */
.buttons-container {
  border-radius: 0px 10px 10px 0px;

  padding: 20px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* Обертка для кнопок */
.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* Кнопки */
.button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  border: none;
}

.scramble {
  background-color: #007bff;
}

.scramble:hover {
  background-color: #0056b3;
}

.reset {
  background-color: #28a745;
}

.reset:hover {
  background-color: #218838;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

