.Timer {
  display: flex;
  margin: 0px auto;
}

.Timer-container {
  display: flex;
  flex-direction: row;
  margin: 100px auto;
  width: fit-content;
  text-align: center;
}

.Bloc-timer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 70px;
}

.bloc-timer span {
  font-weight: lighter;
  font-size: 13px;
  text-align: center;
  color: #999999;
}

.Button {
  border-radius: 6px;
  width: 100px;
  height: 40px;
  margin-right: 10px;
  padding: 5px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

.StartButton {
  background-color: rgb(59 130 246);
}

.PauseButton {
  background-color: rgb(34 197 94);
}

.Button:hover {
  background-color: #59c1e3;
}
